@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: "Jost", serif;
    background: url('/img/website-bg.png');
    background-size: contain;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

/* Sidebar */
.sidebar {
    width: 250px;
    height: 100%;
    background-color: #222;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.logo{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.logo img {
    width: 55px;
}

.nav-links {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    width: 100%;
    display: block;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background 0.3s ease;
}

.nav-links a:hover {
    background-color: #444;
}

.nav-links .active {
    background-color: #363a31;
}

/* Main Content */
.main-content {
    margin-left: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

/* Header */
.header {
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 1px solid #ddd;
    border-radius: 15px;
    margin-bottom: 15px;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.admin-contain {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
}

.admin-contain-content {
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 15px;
    padding: 40px;
    overflow-y: auto;
}


.contain{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

@media (max-width: 768px){
    .contain{
        padding: 15px;
    }

    .contain-content{
        padding: 30px !important;
    }

    .sub-title{
        margin-top: 20px
    }

    .login-text{
        margin-top: 5px;
        margin-bottom: 20px;
    }
}

.contain-content {
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 15px;
    padding: 50px;
    overflow-y: auto;
}

/* Scrollbar width */
.contain-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Scrollbar Track */
.contain-content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Scrollbar Thumb */
.contain-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* On hover */
.contain-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.money {
    border-radius: 30px;
    background-color: #abde3d;
    color: #000000;
    margin-right: 10px;
    font-size: 17px;
    cursor: pointer;
}

.money:hover {
    background-color: #d4ee9d;
}

.submit-btn {
    border-radius: 30px;
    background-color: #abde3d;
    color: #000000;
    font-size: 17px;
}

.n-link{
    text-decoration: none;
    color: #000000;
}

.n-link:hover{
    color: #3e3e3e;
}

.celebration-img{
    position: absolute;
    bottom: 130px;
    height: 200px;
}

.atta-img{
    height: 100px;
    margin-bottom: 25px;
    filter: brightness(1.2) saturate(13) hue-rotate(25deg);
}

.login-text{
    margin-top: 20px;
    font-size: 18px;
    color: #799936;
    transition: all 0.5s ease-in-out;
}

.login-text:hover{
    text-decoration: none;
    color: #555;
}

/* Dashboard */
.dashboard-metrics{
    border-radius: 15px;
}
